@import "tailwindcss";

/* Logo Font */
@font-face {
    font-family: 'CarterOne';
    src: url('/fonts/CarterOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-CarterOne: CarterOne, sans-serif;
    /* --font-sans: BrandonGrotesque, sans-serif */
}

@plugin "daisyui" {
    themes: business --default
}

/* Light mode */
@plugin "daisyui/theme" {
    name: "business";
    default: true;

    /* Intelligence Green */
    --color-primary: rgb(242,52,59);
    /* Energy Blue */
    --color-secondary: rgb(16, 16, 124);
    /* Daylight Orange */
    --color-accent: rgb(247, 148, 29);
    /* Cloud Grey */
    /* --color-base-100: rgb(255, 255, 255); */

    /* Main base color */
    /* --color-base-200: rgb(239, 238, 238); */
    /* Main content color */
    /* --color-base-100: rgb(255, 255, 255); */
}

html {
  scroll-padding-top: 6rem; /* match your header height */
}